/* @import url("https://fonts.googleapis.com/css?family=Roboto:700&display=swap"); */
@import url("https://fonts.googleapis.com/css?family=Mouse+Memoirs&display=swap");

/* html {
  user-select: none;
} */
body {
  background-image: url(../images/bg-2.jpg);
  background-position: center;
  background-size: cover;
  overflow: hidden;
}
* {
  /* cursor: url("../images/fork.png"), pointer; */
  font-family: "Mouse Memoirs", sans-serif;
  margin: 0;
  padding: 0;
}
.game-screen,
.start-screen {
  height: 100%;
  height: 100vh;
}
.game-screen {
  margin-top: -657px;
}
.start-screen {
  text-align: center;
}
.start-screen .logo {
  max-width: 35%;
  margin-top: 45px;
}
.inputField {
  margin-top: 32px;
  display: none;
}
#press-key {
  color: #fff;
  font-size: 27px;
  letter-spacing: 1px;
  animation: pressKeyMove 2s infinite linear;
  /* border: 1px solid #003c64;
  text-shadow: 0px 0px 6px 4px #40a9c9; */
}
@keyframes pressKeyMove {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.start-screen #uname,
.start-screen #btn-uname {
  border: 3px solid #003c64;
  box-shadow: 0px 0px 6px 4px #003353;
  color: #fff;
  font-size: 24px;
  border-radius: 40px;
  outline: none;
  letter-spacing: 0.5px;
}
.start-screen #uname {
  background-color: #00002f;
  padding: 12px 8px 12px 26px;
  margin-right: 25px;
}
.start-screen #btn-uname {
  background-color: #011f4c;
  padding: 12px 20px;
}
.game-menu {
  list-style: none;
  width: 300px;
  margin: 0 auto;
  margin-top: 32px;
  display: none;
}
.game-menu .menu-item {
  background-color: #00002f;
  border: 3px solid #003c64;
  box-shadow: 0px 0px 6px 4px #003353;
  color: #fff;
  font-size: 24px;
  border-radius: 40px;
  padding: 12px 20px;
  outline: none;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
  transition: all 0.5s;
}

.game-menu .menu-item:hover {
  box-shadow: 0px 0px 6px 4px #40a9c9;
}
.fighter {
  position: fixed;
  bottom: 30px;
  left: 45%;
  transition: transform 0.4s;
  display: none;
}
#fuelL,
#fuelR {
  position: absolute;
  width: 9px;
  bottom: -10px;
  /* animation: fuelMove 0.7s infinite linear; */
  z-index: -1;
}
@keyframes fuelMove {
  0%,
  100% {
    bottom: -10px;
  }
  50% {
    bottom: -4px;
  }
}
#fuelL {
  left: 31px;
}
#fuelR {
  left: 42px;
}
#rocket {
  width: 80px;
}
#fire {
  position: fixed;
  width: 12px;
}

#chickens,
#bullets,
#explosion,
#gifts,
#score,
#eggs {
  position: fixed;
  height: 100%;
  width: 100%;
}
.egg {
  width: 19px;
  position: fixed;
}
.knife {
  width: 20px;
  position: fixed;
}
.chicken,
.explosion {
  width: 100px;
  position: fixed;
}
.monster {
  width: 335px;
  position: fixed;
}
.food-2,
.food-1,
.combo {
  position: fixed;
}
.food-2 {
  width: 65px;
}
.food-1 {
  width: 40px;
}
.combo {
  width: 60px;
}
.hearts i {
  color: #c30d0d;
  font-size: 18px;
  padding-right: 3px;
}
.score {
  position: fixed;
  top: 0px;
  left: 0;
  background: #2485a5;
  color: #fff;
  padding: 12px 15px;
  width: 130px;
  border-radius: 0px 0px 23px 0px;
  display: flex;
  justify-content: space-between;
}
.points {
  /* font-family: "Roboto", sans-serif; */
  font-weight: 700;
  letter-spacing: 2.5px;
}
#result {
  display: none;
}
.chield {
  border: 4px solid #2196f3;
  border-radius: 50%;
  padding: 10px;
  animation: chielded 1s infinite ease-out;
}

@keyframes chielded {
  0%,
  100% {
    padding: 10px;
  }
  50% {
    padding: 2px;
  }
}
/*  */
.male-type,
.female-type {
  position: relative;
  width: 100px;
  margin: 0 auto;
  color: #fff;
  font-size: 24px;
}
.male-type {
  margin-top: 25px;
}
input[name="gender"] {
  opacity: 0;
  width: 88px;
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  z-index: 999;
}
input[name="gender"]:checked ~ .checkmark {
  background-color: #00002f;
  border-color: #5889b1;
}
.checkmark {
  position: absolute;
  top: 5px;
  left: 7px;
  height: 12px;
  width: 12px;
  background-color: #f7f7f7;
  border-radius: 50%;
  border: 2px solid #cccccc;
}
#messages {
  position: fixed;
  left: 50%;
  top: 37%;
  width: 500px;
  height: 250px;
  margin-left: -250px;
  margin-top: -125px;
  text-align: center;
  cursor: none;
  color: #fff;
  letter-spacing: 1px;
  display: none;
}
.message {
  font-size: 96px;
}
.sub-message {
  font-size: 32px;
}
.progress {
  background-color: rgba(40, 89, 125, 0.5);
  width: 350px;
  height: 10px;
  position: fixed;
  left: 50%;
  margin-left: -175px;
  top: 3%;
  display: none;
}
.progress-bar {
  width: 0;
  background-color: #ff1a1a;
  height: 100%;
}

.winnerMsg {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 72px;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  top: 20%;
  left: 15%;
  display: none;
}

#fireworks {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

/********************************Fame Of Hall & Credits Style********************************/
.fame,
.credits {
  display: none;
  text-align: center;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.fame__title,
.credits__title {
  font-size: 120px;
  font-weight: 400;
  position: absolute;
  top: 14%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.credits__sub {
  font-size: 60px;
  color: dodgerblue;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.credits__copy-right {
  position: absolute;
  top: 94%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 28px;
  letter-spacing: 1px;
}

.btn-reset,
.btn-back {
  text-decoration: none;
  background-color: #00002f;
  border: 3px solid #003c64;
  box-shadow: 0px 0px 6px 4px #003353;
  color: #fff;
  font-size: 24px;
  border-radius: 40px;
  padding: 12px 60px;
  outline: none;
  letter-spacing: 0.5px;
  margin: 10px 0 20px;
  transition: all 0.5s;
}

.btn-reset {
  position: absolute;
  top: 90%;
  left: 28%;
  transform: translate(-50%, -50%);
}

.btn-back {
  position: absolute;
  top: 90%;
  left: 75%;
  transform: translate(-50%, -50%);
}

.arrow-back {
  position: absolute;
  top: 12%;
  left: 15%;
  font-size: 42px;
}

.btn-reset:hover,
.btn-back:hover {
  box-shadow: 0px 0px 6px 4px #40a9c9;
}

.fame-table {
  position: absolute;
  top: 28%;
  left: 50%;
  width: 60%;
  transform: translate(-50%);
  background-color: #00002f;
  border: 3px solid #003c64;
  box-shadow: 0px 0px 6px 4px #003353;
  border-radius: 15px;
}

.fame-table th {
  color: white;
  font-size: 24px;
  font-weight: 300;
}

.fame-table td {
  font-size: 18px;
  padding: 10px;
}

th {
  padding: 15px;
  border-bottom: 1px solid #003c64;
}
tr:not(:last-child) td {
  border-bottom: 1px solid #003c64;
}

tr:hover {
  background-color: rgba(64, 169, 201, 0.5);
}

tbody tr.active {
  color: dodgerblue;
}

.flex-row {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%);
}

.developer-box {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 21%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 0 10px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding-bottom: 10px;
  transition: transform 0.3s;
}
.developer-box:hover {
  transform: translateY(-15px) scale(1.03);
}

.developer-box__title {
  font-weight: 100;
}
.developer-box__content {
  color: grey;
  font-size: 18px;
}
